<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .body{
      background-color: brown;
    }
   </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="header" class="container-fluid p-3 mb-2 bg-dark text-dark text-center " style="margin-bottom:0">



  <h1><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><i class="fa fa-bar-chart" style="font-size:80px;color:rgba(8, 146, 151, 0.74)"></i><b>STOCK MARKET</b></h1>



 </div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header bg-dark">
      <a class="navbar-brand" href=""><span class="fa fa-chart-line"></span>StockMarket</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="homepage">Home</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

  <style>

.navbar {

position: relative;

min-height: 50px;

margin-bottom: 0px !important;

border: 1px solid transparent;

}





</style>

  


</body>
</html>
